</td></tr>

<tr>
<table id="header"><tr>
<td nowrap>
<div class="linksmall">Senaste ändring:</div>
<div class="linksmall"><b>#{@time}</b></div>
</td>
<td align="center" valign="middle" nowrap>
<div class="version">KD v#{version}</div>
</td>
<td align="right" valign="middle" nowrap>
<a class="linksmall" href="snabb.cgi?edit=#{@name}">Ändra</a>
<a class="linksmall" href="snabb.cgi?show=#{@name}+#{prev}">Återkalla</a>
|
<a class="linksmall" ref="snabb.cgi?history=#{@name}">Historia</a>
<a class="linksmall" href="snabb.cgi?fsearch=#{@name}">Referenser</a>

</td>
</tr>
</table>
</tr></td>
</table>

</body>
</html>
