<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="sv">
<head>
<title>wiki/#{@name}</title>
</head>
<body bgcolor="white" text="black">
<table align="center" width="90%" border="0" cellspacing="0" cellpadding="5">
<tr bgcolor="#f0f0f0">
<td valign="center" align="left">
<a href="#{@name}.html"><font size="+2">#{@name}</font></a>
</td>
<td align="right" valign="bottom" nowrap>
<font size="-1">
<a href="KnuffoDragen.html">KnuffoDragen</a>
<s>SökSidan</s>
<s>SenasteÄndringar</s>
</font>
<br>
<a href="?edit=#{@name}">Ändra</a>
<s>Återkalla</s>
|
<s>Historia</s>
<s>Referenser</s>
</td>
</tr>
<tr>
<td colspan="2">


