<html>
<head></head>
<body bgcolor="white" text="black">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr bgcolor="#f0f0f0"> 
<td width="1" nowrap>
<font size="+1"><b>jofo-wiki</b></font><br>
<a href="snabb.cgi?show=StartSida"><font size="-1">StartSida</font></a>
</td>
<td align="left" valign="bottom">
<a href="snabb.cgi?show=#{@name}"><font size="+3">#{@name}</font></a> (historia) 
</td>
</tr>
</table>

<table width="90%" align="center" border="0" cellspacing="0" cellpadding="5">
<tr><td>
Följande ändringar har gjorts i sidan <b>#{@name}</b>. Klicka på tidpunkten
för en ändring, för att se hur sidan såg ut innan.<br>
<blockquote>
#{@text}
</blockquote>
</td></tr></table>
</body>
</html>