<html>
<head></head>
<body bgcolor="white" text="black">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr valign="bottom" bgcolor="#f0f0f0"> 
<td width="1" nowrap>
<font size="+1"><b>jofo-wiki</b></font><br>
<a href="snabb.cgi?show=StartSida"><font size="-1">StartSida</font></a>
</td>
<td align="left">
<font size="+3">Sökresultat</font></a>
</td>
</tr>
</table>

<table width="90%" align="center" border="0" cellspacing="0" cellpadding="5">
<tr><td>
Du sökte efter <b>"#{@name}"</b>. Följande sidor hittades:
<blockquote>
#{@text}
</blockquote>
Söka igen? [[wordsearch]]
</td></tr></table>
</body>
</html>